<div class="lead-form">
  <h1>LET'S GET A QUOTE!</h1>
  <form>
    <div class="form-group mt-4">
      <label for="exampleInputEmail1">What industry are you in?</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select industry">
    </div>
    <div class="form-group mt-4">
      <label for="exampleInputPassword1">State</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Search state">
    </div>
    <button type="button" class="btn btn-primary mt-4" (click)="getQuote()">Get Instant Quote</button>
  </form>
</div>
